pki:
  ca: {{ nebula.dir}}/ca.crt
  cert: {{ nebula.dir}}/lighthouse.crt
  key: {{ nebula.dir}}/lighthouse.key

static_host_map:
  "{{ nebula.localIp }}": ["{{ dnsIp }}:4242"]

lighthouse:
  am_lighthouse: true
  interval: 60
  hosts:
    - "{{ nebula.localIp }}"

listen:
  host: 0.0.0.0
  port: 4242

punchy:
  punch: true

relay:
  am_relay: false
  use_relays: true

tun:
  disabled: false
  dev: nebula1
  drop_local_broadcast: false
  drop_multicast: false
  tx_queue: 500
  mtu: 1300
  routes:
  unsafe_routes:

logging:
  level: info
  format: text

firewall:
  conntrack:
    tcp_timeout: 12m
    udp_timeout: 3m
    default_timeout: 10m

  outbound:
    - port: any
      proto: any
      host: any

  inbound:
    - port: any
      proto: any
      host: any
