cn = "{{ openconnect.dnsName }}"
organization = "{{ openconnect.organization }}"
serial = 121322
expiration_days = 3650
signing_key
encryption_key
tls_www_server
dns_name = "{{ openconnect.dnsName }}"